*{
    font-family: 'Comfortaa', cursive;
}
html,
h1,
h2,
h3,
h4,
h5,
h6{
    color:#353535;
}

body {
    background: #edeeee;
    display: flex; /*TEST!!!!!!!!!!!!!!!!!!!!!!!!!*/
    flex-direction: column;/*TEST!!!!!!!!!!!!!!!!*/
    min-height: 100vh;/*TEST!!!!!!!!!!!!!!!!!!!!!!*/
}

a{
    text-decoration: none;
    color: inherit;
}

input{
    padding: 8px 12px;
    display: block;
    width: 100%;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444444;
}

/*
    HEADER
*/

header{
    background: #e3972b;
    height: 80px;
}

header *{
    color: #ffffff;
}

header h1{
    margin-top: 17px;
}

header h1 a{
    color: #ffffff;
}

header h1 a:hover{
    color: #ffffff;
}

/*
    HEADER-MENU
*/

header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li{
    float:left;
    position: relative;
}

header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 26px;
}

header ul li a:hover{
    background: #969731;
    transition: 0.5s;
    color:#fff;
    border-radius: 10px;
}

.pop-upUL{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 5px;
    display: none;
    z-index: 111;
}

header ul li:hover ul{
    display: block;
}

/*
MAIN
*/

.main-content h3{
    margin: 30px;
}

.main-content .product{
    margin-bottom: 15px;
    background: #e2e2e2;
    padding: 10px 10px 10px 0px;
    border-radius: 3px;
}

.main-content .post-text{
    background: #ffffff;
    padding: 8px;
    border-radius: 3px;
}

.main-content .post-text h3{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.main-content .post-text h3 a:hover{
    text-decoration: underline;
    color:#353535;

}

.section_search {
    margin-top: 20px;
}

.section_search form .text-input{
    width: 100%;
    border-radius: 3px;
}

.section_search h3{
    text-align: center;
}

/*
SIDEBAR
*/

.sidebar{
    margin-top: 93px;
}

.sidebar .section_category{
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 18%);
}

.sidebar .section_category ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

.sidebar .section_category ul li a{
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.4s;
    text-decoration: none;
    font-weight: 500;
    color: #5c5b5b;
    font-size: 1.2em;
    margin-top: 3px;
}

.sidebar .section_category ul li a:hover{
    padding-left: 10px;
    transition: all 0.4s;
}

/*
FORMS
*/

.reg_form input{
    height: 3rem;;
}

.reg_form h2{
    text-align: center;
    margin: 20px 0px;
}

.reg_aut a{
    text-decoration: underline;
}

.reg_aut a:hover{
    color: #a11e1e;
}

.info div{
    margin: 25px;
}
.info div h3{
    margin-bottom: 20px;
}

.info div p{
    font-size: 18px;
}

.footer{
    background: #3a3a41;
    color: #d3d3d3;
    position: relative;
}

.footer .footer-section{
    padding: 15px;
    margin-top: 10px;
}

.footer h3{
    color: white;
}

.footer .about .contact span{
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
}

.footer .about .socials a{
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.4s;
    color: #ffffff;
}

.footer .about .socials a:hover{
    border: 1px solid white;
    color: white;
    transition: all 0.4s;
}

.footer .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    transition: all 0.4s;
    color: #ffffff;
    text-decoration: none;
}

.footer .links ul a:hover{
    color: #ffffff;
    margin-left: 10px;
    transition: all 0.4s;
}

.footer .contact-form .contact-input{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 0.9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus{
    background: #1a1a1a;
}

.footer .contact-form .contact-btn{
    float: start;
    font-size: 1.1em;
    color: white;
    background: grey;
    width: 100%;
}

.footer{
    position: relative;
    bottom: 0;
}

footer{
    margin-top: auto/*TEST!!!!!!!!!!!!!!!!!!!*/;
}

.cart{
    background: #d9d9d9;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.amount{
    border: none;
    text-align: center;
    width: 55px;
    height: 30px;
}

.btn_offer{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 15px;
}

.final_price{
    margin-bottom: 15px;
    font-size: 20px;
}

/*
FORMS
 */

.error p{
    color: #d00909;
    font-size: 15px;
    font-style: italic;
}

